<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>

  </div>
  <h2>详细文章</h2>
  <td><%= @group.title %></td>
  <br>
  <td><%= @group.description %></td>

</div>
